@import '_functions';

//Váriavel de font-base
$basefontsize: 16 !default;

$color-white: #ffffff;
$color-black: #000000;

$color-dark: #323a45;
$color-dark-lighter: #839090;
$color-dark-darker: #2C2F3D;
$color-light: #e2e2e2;

$color-primary: #c62828;
$color-primary-light: #ff5f52;
$color-primary-dark: #8e0000;
$color-primary-text-light: $color-white;
$color-primary-text-dark: $color-black;

$color-secondary: #78909c;
$color-secondary-light: #a7c0cd;
$color-secondary-dark: #4b636e;
$color-secondary-text-light: $color-white;
$color-secondary-text-dark: $color-black;

$color-danger:#f44336;
$color-warning: #fdd835;
$color-success: #43a047;

$color-primary-shadow: rgba(198, 40, 40, .7);
$color-bg-shadow: rgba(0, 0, 0, .5);
//$color-shadow: rgba(64,154,133, 0);
